/* .App {
  text-align: center;
}  */
button:hover{
  background-color: #007bff91;
}
body{
  background-image:linear-gradient(#69a9bf,#a3d4dd,#f8fcfd);
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  overflow: hidden;
}

@keyframes change {
  to {
    opacity: 0;
  }
}
.intro_image{
  animation: change linear 3s;
  background-image: url(./images/intro.png);
  opacity: 1;
  /* animation-delay: 20s; */
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.forcast_divider{
  border-top: 3px solid rgb(13 110 253 / 25%);
  padding-top: 5px;
}

.forcast_title{
  margin-bottom: 5px;
}

/* .intro
{  animation: fadeIn linear 7s;} */

/* 
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.modal-lable{
  width: 40px;
  display:inline-block;

} */